.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
.name {
  margin-right: 8px;
  margin-left: 6px;
}
.number {
  color: rgb(79, 119, 238);
}
